# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# PyInstaller output
dist/
build/
*.spec

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
